.row {
	margin-bottom: 0;
}

main {
	background-image: url(https://cdn.lyft.com/pagelauncherdatastore/customers_hero@2x.8f66ab8f.png);
	background-position: right;
	background-size: cover;
	height: 100vh;
}

.container-sing-up {
	background-color: white;
  padding: 10px;
  margin-top: 2rem;
}

#container-verify {
  height: 80vh;
  padding: 2rem;
}
/*div#container-verify .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    min-height: 1px;
}*/

.verify p{
  margin-top: 2rem;
}


#resend-code {
  margin-top: 2rem;
}