.row {
	margin-bottom: 0;
}

main {
	background-image: url(https://cdn.lyft.com/pagelauncherdatastore/customers_hero@2x.8f66ab8f.png);
	background-position: right;
	background-size: cover;
	height: 100vh;
}

.container-sing-up {
	background-color: white;
  padding: 10px;
  margin-top: 2rem;
}

#container-verify {
  height: 80vh;
  padding: 2rem;
}
/*div#container-verify .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    min-height: 1px;
}*/

.verify p{
  margin-top: 2rem;
}

/*.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;
}

.dropdown-content li>span {
   font-size: 16px;
   color: #26a69a;
   display: block;
   line-height: 22px;
   padding: 14px 16px;
}*/
.select-dropdown li img {
    height: 30px;
    width: 40px;
    margin: 10px 15px;
    float: right;
}